In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [2]:
## reading data 

data=pd.read_csv('C:\\Users\\ashishranjan\\Downloads\\Convert R Codes to Python (1)\\Convert R Codes to Python\\1.Linear Regression\\insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
## independent variables 
X=data.drop('charges',axis=1)

In [6]:
# traget variables
Y=data.charges

In [7]:
# dummy variable creation 
data_dummy=pd.get_dummies(data[['sex','smoker','region']])

In [8]:
X=X.drop(['sex','smoker','region'],axis=1)

In [9]:
data_dummy

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
5,1,0,1,0,0,0,1,0
6,1,0,1,0,0,0,1,0
7,1,0,1,0,0,1,0,0
8,0,1,1,0,1,0,0,0
9,1,0,1,0,0,1,0,0
10,0,1,1,0,1,0,0,0
11,1,0,0,1,0,0,1,0
12,0,1,1,0,0,0,0,1
13,1,0,1,0,0,0,1,0
14,0,1,0,1,0,0,1,0
15,0,1,1,0,0,0,0,1
16,1,0,1,0,1,0,0,0
17,0,1,1,0,1,0,0,0
18,0,1,1,0,0,0,0,1
19,0,1,0,1,0,0,0,1
20,1,0,1,0,1,0,0,0
21,1,0,1,0,0,0,0,1
22,0,1,1,0,0,0,1,0
23,1,0,0,1,1,0,0,0
24,0,1,1,0,0,1,0,0
25,1,0,1,0,0,0,1,0
26,1,0,1,0,1,0,0,0
27,1,0,1,0,0,1,0,0
28,0,1,1,0,0,1,0,0
29,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...
1308,1,0,0,1,0,0,0,1
1309,0,1,1,0,0,0,0,1
1310,0,1,1,0,0,1,0,0
1311,1,0,1,0,0,1,0,0
1312,0,1,1,0,0,0,0,1
1313,1,0,0,1,0,0,0,1
1314,1,0,0,1,0,1,0,0
1315,0,1,1,0,1,0,0,0
1316,1,0,1,0,0,0,0,1
1317,0,1,1,0,0,0,1,0
1318,0,1,1,0,1,0,0,0
1319,1,0,1,0,0,1,0,0
1320,0,1,1,0,0,1,0,0
1321,0,1,0,1,1,0,0,0
1322,0,1,1,0,0,0,1,0
1323,1,0,0,1,0,0,1,0
1324,0,1,1,0,0,1,0,0
1325,0,1,1,0,1,0,0,0
1326,1,0,1,0,1,0,0,0
1327,0,1,1,0,0,0,1,0
1328,1,0,1,0,1,0,0,0
1329,0,1,1,0,0,0,0,1
1330,1,0,1,0,0,0,1,0
1331,1,0,1,0,0,0,0,1
1332,1,0,1,0,0,0,0,1
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [10]:
## combining dummy variable to other i.v
X=pd.concat([X,data_dummy],axis=1)

In [11]:
X.shape

(1338, 11)

In [12]:
## trying model on whole data 
lm=LinearRegression()

In [13]:
model=lm.fit(X,Y)

In [14]:
## predicting on whole data 
pred_charge=model.predict(X)

In [15]:
## r square 
model.score(X,Y)

0.7509130345985208

In [16]:
 pd.Series(model.coef_)

0       256.856353
1       339.193454
2       475.500545
3        65.657180
4       -65.657180
5    -11924.267271
6     11924.267271
7       587.009235
8       234.045336
9      -448.012814
10     -373.041756
dtype: float64

In [17]:
X.columns

Index(['age', 'bmi', 'children', 'sex_female', 'sex_male', 'smoker_no',
       'smoker_yes', 'region_northeast', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

In [20]:
## variable with different cofficients 
pd.concat([pd.Series(X.columns),pd.Series(model.coef_)],axis=1)

                   0             1
0                age    256.856353
1                bmi    339.193454
2           children    475.500545
3         sex_female     65.657180
4           sex_male    -65.657180
5          smoker_no -11924.267271
6         smoker_yes  11924.267271
7   region_northeast    587.009235
8   region_northwest    234.045336
9   region_southeast   -448.012814
10  region_southwest   -373.041756

In [21]:
## building model using statsmodels 
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats




X2 = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Sat, 29 Sep 2018   Prob (F-statistic):               0.00
Time:                        22:35:16   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -296.4168    430.507     -0.689      0.491   -1140.964     548.130
age                256.8564     11.899     21.587      0.000     233.514     280.199
bmi                339.1935     28.599     11.860      0.000     283.088     395.298
children           475.5005    137.804      3.451      0.001     205.163     745.838
sex_female         -82.5512    269.226     -0.307      0.759    -610.706     445.604
sex_male          -213.8656    274.976     -0.778      0.437    -753.299     325.568
smoker_no        -1.207e+04    282.338    -42.759      0.000   -1.26e+04   -1.15e+04
smoker_yes        1.178e+04    313.530     37.560      0.000    1.12e+04    1.24e+04
region_northeast   512.9050    300.348      1.708      0.088     -76.303    1102.113
region_northwest   159.9411    301.334      0.531      0.596    -431.201     751.083
region_southeast  -522.1170    330.759     -1.579      0.115   -1170.983     126.749
region_southwest  -447.1459    310.933     -1.438      0.151   -1057.119     162.827
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                     4.55e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.7e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [22]:
## using significant variables based on P values 
X1=X.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X21 = sm.add_constant(X1)
est = sm.OLS(Y, X21)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     998.1
Date:                Sat, 29 Sep 2018   Prob (F-statistic):               0.00
Time:                        22:35:24   Log-Likelihood:                -13551.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1333   BIC:                         2.714e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -131.3796    629.912     -0.209      0.835   -1367.107    1104.348
age          257.8495     11.896     21.675      0.000     234.512     281.187
bmi          321.8514     27.378     11.756      0.000     268.143     375.559
children     473.5023    137.792      3.436      0.001     203.190     743.814
smoker_no  -1.197e+04    354.354    -33.784      0.000   -1.27e+04   -1.13e+04
smoker_yes  1.184e+04    396.710     29.846      0.000    1.11e+04    1.26e+04
==============================================================================
Omnibus:                      301.480   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              722.157
Skew:                           1.215   Prob(JB):                    1.53e-157
Kurtosis:                       5.654   Cond. No.                     2.52e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.55e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [23]:
## dividing data in train and test 
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

C:\Users\ashishranjan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [69]:
x_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
277,22,24.300,0,1,0,1,0,0,0,0,1
154,40,25.460,1,1,0,1,0,1,0,0,0
1231,20,21.800,0,1,0,0,1,0,0,0,1
970,50,28.160,3,1,0,1,0,0,0,1,0
1248,18,39.820,0,1,0,1,0,0,0,1,0
479,23,32.560,0,0,1,1,0,0,0,1,0
81,45,38.285,0,1,0,1,0,1,0,0,0
1060,24,32.010,0,0,1,1,0,0,0,1,0
827,36,28.025,1,0,1,0,1,1,0,0,0
1064,29,25.600,4,1,0,1,0,0,0,0,1
795,27,28.500,0,0,1,0,1,0,1,0,0
944,62,39.930,0,0,1,1,0,0,0,1,0
184,44,30.690,2,0,1,1,0,0,0,1,0
1019,21,32.680,2,1,0,1,0,0,1,0,0
595,46,33.725,1,1,0,1,0,1,0,0,0
1078,28,31.680,0,0,1,0,1,0,0,1,0
1154,48,27.930,4,1,0,1,0,0,1,0,0
1039,19,27.265,2,0,1,1,0,0,1,0,0
1267,24,31.065,0,0,1,0,1,1,0,0,0
1141,41,32.600,3,1,0,1,0,0,0,0,1
877,33,33.440,5,0,1,1,0,0,0,1,0
961,29,25.900,0,1,0,1,0,0,0,0,1
1210,36,30.875,1,0,1,1,0,0,1,0,0
390,48,35.625,4,0,1,1,0,1,0,0,0
690,21,27.360,0,0,1,1,0,1,0,0,0
613,34,19.000,3,1,0,1,0,1,0,0,0
609,30,37.800,2,0,1,0,1,0,0,0,1
1315,18,28.310,1,0,1,1,0,1,0,0,0
232,19,17.800,0,1,0,1,0,0,0,0,1
660,37,46.530,3,0,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
376,39,24.890,3,1,0,0,1,1,0,0,0
669,40,29.810,1,1,0,1,0,0,0,1,0
27,55,32.775,2,1,0,1,0,0,1,0,0
1131,27,45.900,2,0,1,1,0,0,0,0,1
406,33,24.310,0,1,0,1,0,0,0,1,0
801,64,35.970,0,1,0,1,0,0,0,1,0
1277,32,29.735,0,1,0,1,0,0,1,0,0
200,19,32.110,0,1,0,1,0,0,1,0,0
52,48,28.000,1,0,1,0,1,0,0,0,1
1070,37,37.070,1,0,1,0,1,0,0,1,0
849,55,32.775,0,0,1,1,0,0,1,0,0
1327,51,30.030,1,0,1,1,0,0,0,1,0
1173,38,29.260,2,0,1,1,0,0,1,0,0
417,36,22.600,2,1,0,0,1,0,0,0,1
1206,59,34.800,2,1,0,1,0,0,0,0,1
703,34,26.410,1,1,0,1,0,0,1,0,0
401,47,47.520,1,0,1,1,0,0,0,1,0
342,60,27.550,0,1,0,1,0,1,0,0,0
190,61,31.570,0,0,1,1,0,0,0,1,0
1182,25,30.300,0,1,0,1,0,0,0,0,1
47,28,34.770,0,1,0,1,0,0,1,0,0
94,64,31.300,2,1,0,0,1,0,0,0,1
1309,41,32.200,2,0,1,1,0,0,0,0,1
280,40,28.120,1,1,0,0,1,1,0,0,0
1067,39,42.655,0,0,1,1,0,1,0,0,0
1068,63,21.660,1,0,1,1,0,0,1,0,0
791,19,27.600,0,0,1,1,0,0,0,0,1
630,53,36.100,1,0,1,1,0,0,0,0,1
988,34,34.675,0,0,1,1,0,1,0,0,0
1178,23,34.865,0,1,0,1,0,1,0,0,0

In [24]:
## model building on train data 
X2_train = sm.add_constant(x_train)
est = sm.OLS(y_train, X2_train)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.758
Model:                            OLS   Adj. R-squared:                  0.756
Method:                 Least Squares   F-statistic:                     362.7
Date:                Sat, 29 Sep 2018   Prob (F-statistic):          2.44e-279
Time:                        22:35:30   Log-Likelihood:                -9452.2
No. Observations:                 936   AIC:                         1.892e+04
Df Residuals:                     927   BIC:                         1.897e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -395.3906    503.120     -0.786      0.432   -1382.778     591.997
age                239.5173     14.054     17.043      0.000     211.937     267.098
bmi                363.5843     33.608     10.818      0.000     297.628     429.541
children           538.8803    164.596      3.274      0.001     215.856     861.904
sex_female        -113.9229    313.467     -0.363      0.716    -729.110     501.264
sex_male          -281.4677    322.423     -0.873      0.383    -914.232     351.296
smoker_no        -1.206e+04    328.973    -36.663      0.000   -1.27e+04   -1.14e+04
smoker_yes        1.167e+04    364.043     32.045      0.000     1.1e+04    1.24e+04
region_northeast   548.3805    350.951      1.563      0.118    -140.369    1237.130
region_northwest  -138.5486    350.097     -0.396      0.692    -825.623     548.525
region_southeast  -841.3894    390.372     -2.155      0.031   -1607.504     -75.275
region_southwest    36.1669    363.469      0.100      0.921    -677.150     749.484
==============================================================================
Omnibus:                      181.587   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              379.770
Skew:                           1.092   Prob(JB):                     3.42e-83
Kurtosis:                       5.228   Cond. No.                     3.90e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.61e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [25]:
## model using only signicant variables based on p values 
X2_train1=x_train.loc[:,['age','bmi','children','smoker_no','smoker_yes']]

In [26]:
X2_train2 = sm.add_constant(X2_train1)
est = sm.OLS(y_train, X2_train2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.756
Model:                            OLS   Adj. R-squared:                  0.755
Method:                 Least Squares   F-statistic:                     721.8
Date:                Sat, 29 Sep 2018   Prob (F-statistic):          1.75e-283
Time:                        22:35:33   Log-Likelihood:                -9455.5
No. Observations:                 936   AIC:                         1.892e+04
Df Residuals:                     931   BIC:                         1.895e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -166.0745    731.009     -0.227      0.820   -1600.691    1268.542
age          241.7604     14.040     17.219      0.000     214.206     269.315
bmi          338.1706     31.772     10.644      0.000     275.818     400.523
children     546.3561    164.715      3.317      0.001     223.100     869.612
smoker_no  -1.193e+04    412.462    -28.925      0.000   -1.27e+04   -1.11e+04
smoker_yes  1.176e+04    458.718     25.646      0.000    1.09e+04    1.27e+04
==============================================================================
Omnibus:                      179.271   Durbin-Watson:                   1.941
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              370.918
Skew:                           1.084   Prob(JB):                     2.86e-81
Kurtosis:                       5.193   Cond. No.                     3.29e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.27e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [28]:
## prediction on train data 
x_train_pred=est2.predict(X2_train2)

In [38]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_train = sqrt(mean_squared_error(y_train, x_train_pred))

In [39]:
## error on train data 
rms_train

5902.060847845202

In [35]:
X2_test1=x_test.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X2_test2 = sm.add_constant(X2_test1)

In [36]:
## prediction on test data 
x_test_pred=est2.predict(X2_test2)

In [40]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_test = sqrt(mean_squared_error(y_test, x_test_pred))

In [41]:
## error on test data 
rms_test

6419.268726858799