In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [3]:
## reading data 

data=pd.read_csv('E:/datasets/insurance.csv')

In [4]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
## independent variables 
X=data.drop('charges',axis=1)

In [7]:
# traget variables
Y=data.charges

In [8]:
# dummy variable creation 
data_dummy=pd.get_dummies(data[['sex','smoker','region']])

In [9]:
X=X.drop(['sex','smoker','region'],axis=1)

In [10]:
data_dummy

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [11]:
## combining dummy variable to other i.v
X=pd.concat([X,data_dummy],axis=1)

In [12]:
X.shape

(1338, 11)

In [13]:
## trying model on whole data 
lm=LinearRegression()

In [14]:
model=lm.fit(X,Y)

In [15]:
## predicting on whole data 
pred_charge=model.predict(X)

In [16]:
## r square 
model.score(X,Y)

0.7509130345985208

In [17]:
 pd.Series(model.coef_)

0       256.856353
1       339.193454
2       475.500545
3        65.657180
4       -65.657180
5    -11924.267271
6     11924.267271
7       587.009235
8       234.045336
9      -448.012814
10     -373.041756
dtype: float64

In [18]:
X.columns

Index(['age', 'bmi', 'children', 'sex_female', 'sex_male', 'smoker_no',
       'smoker_yes', 'region_northeast', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

In [19]:
## variable with different cofficients 
pd.concat([pd.Series(X.columns),pd.Series(model.coef_)],axis=1)

                   0             1
0                age    256.856353
1                bmi    339.193454
2           children    475.500545
3         sex_female     65.657180
4           sex_male    -65.657180
5          smoker_no -11924.267271
6         smoker_yes  11924.267271
7   region_northeast    587.009235
8   region_northwest    234.045336
9   region_southeast   -448.012814
10  region_southwest   -373.041756

In [20]:
## building model using statsmodels 
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats




X2 = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

C:\Users\pc\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Sat, 07 Mar 2020   Prob (F-statistic):               0.00
Time:                        12:22:38   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -296.4168    430.507     -0.689      0.491   -1140.964     548.130
age                256.8564     11.899     21.587      0.000     233.514     280.199
bmi                339.1935     28.599     11.860      0.000     283.088     395.298
children           475.5005    137.804      3.451      0.001     205.163     745.838
sex_female         -82.5512    269.226     -0.307      0.759    -610.706     445.604
sex_male          -213.8656    274.976     -0.778      0.437    -753.299     325.568
smoker_no        -1.207e+04    282.338    -42.759      0.000   -1.26e+04   -1.15e+04
smoker_yes        1.178e+04    313.530     37.560      0.000    1.12e+04    1.24e+04
region_northeast   512.9050    300.348      1.708      0.088     -76.303    1102.113
region_northwest   159.9411    301.334      0.531      0.596    -431.201     751.083
region_southeast  -522.1170    330.759     -1.579      0.115   -1170.983     126.749
region_southwest  -447.1459    310.933     -1.438      0.151   -1057.119     162.827
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                     9.07e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.27e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
## using significant variables based on P values 
X1=X.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X21 = sm.add_constant(X1)
est = sm.OLS(Y, X21)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     998.1
Date:                Sat, 07 Mar 2020   Prob (F-statistic):               0.00
Time:                        12:22:38   Log-Likelihood:                -13551.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1333   BIC:                         2.714e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -131.3796    629.912     -0.209      0.835   -1367.107    1104.348
age          257.8495     11.896     21.675      0.000     234.512     281.187
bmi          321.8514     27.378     11.756      0.000     268.143     375.559
children     473.5023    137.792      3.436      0.001     203.190     743.814
smoker_no  -1.197e+04    354.354    -33.784      0.000   -1.27e+04   -1.13e+04
smoker_yes  1.184e+04    396.710     29.846      0.000    1.11e+04    1.26e+04
==============================================================================
Omnibus:                      301.480   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              722.157
Skew:                           1.215   Prob(JB):                    1.53e-157
Kurtosis:                       5.654   Cond. No.                     2.29e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.72e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [23]:
## dividing data in train and test 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [24]:
x_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
1154,48,27.930,4,1,0,1,0,0,1,0,0
332,61,31.160,0,1,0,1,0,0,1,0,0
122,20,28.975,0,1,0,1,0,0,1,0,0
860,37,47.600,2,1,0,0,1,0,0,0,1
1072,21,31.255,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
210,20,33.000,1,0,1,1,0,0,0,0,1
459,40,33.000,3,1,0,1,0,0,0,1,0
1178,23,34.865,0,1,0,1,0,1,0,0,0
573,62,36.860,1,1,0,1,0,1,0,0,0
1038,22,28.880,0,0,1,1,0,1,0,0,0

In [25]:
## model building on train data 
X2_train = sm.add_constant(x_train)
est = sm.OLS(y_train, X2_train)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.760
Model:                            OLS   Adj. R-squared:                  0.758
Method:                 Least Squares   F-statistic:                     366.8
Date:                Sat, 07 Mar 2020   Prob (F-statistic):          4.65e-281
Time:                        12:23:16   Log-Likelihood:                -9484.1
No. Observations:                 936   AIC:                         1.899e+04
Df Residuals:                     927   BIC:                         1.903e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -313.4539    516.578     -0.607      0.544   -1327.253     700.345
age                242.6219     14.287     16.982      0.000     214.583     270.661
bmi                365.5547     33.803     10.814      0.000     299.215     431.895
children           444.0564    164.538      2.699      0.007     121.147     766.966
sex_female         -75.1008    330.680     -0.227      0.820    -724.069     573.867
sex_male          -238.3531    324.289     -0.735      0.463    -874.778     398.072
smoker_no        -1.228e+04    332.328    -36.954      0.000   -1.29e+04   -1.16e+04
smoker_yes        1.197e+04    380.341     31.465      0.000    1.12e+04    1.27e+04
region_northeast   415.1926    357.588      1.161      0.246    -286.583    1116.968
region_northwest   269.3016    361.378      0.745      0.456    -439.912     978.515
region_southeast  -511.9755    405.394     -1.263      0.207   -1307.572     283.621
region_southwest  -485.9727    382.041     -1.272      0.204   -1235.739     263.793
==============================================================================
Omnibus:                      203.212   Durbin-Watson:                   1.936
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              496.746
Skew:                           1.146   Prob(JB):                    1.36e-108
Kurtosis:                       5.736   Cond. No.                     9.28e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.84e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\pc\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [26]:
## model using only signicant variables based on p values 
X2_train1=x_train.loc[:,['age','bmi','children','smoker_no','smoker_yes']]

In [27]:
X2_train2 = sm.add_constant(X2_train1)
est = sm.OLS(y_train, X2_train2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.759
Model:                            OLS   Adj. R-squared:                  0.758
Method:                 Least Squares   F-statistic:                     732.2
Date:                Sat, 07 Mar 2020   Prob (F-statistic):          1.12e-285
Time:                        12:23:18   Log-Likelihood:                -9486.2
No. Observations:                 936   AIC:                         1.898e+04
Df Residuals:                     931   BIC:                         1.901e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -111.5689    747.407     -0.149      0.881   -1578.366    1355.228
age          243.1836     14.262     17.051      0.000     215.194     271.174
bmi          346.8935     31.884     10.880      0.000     284.320     409.467
children     441.4041    164.387      2.685      0.007     118.792     764.016
smoker_no  -1.217e+04    415.863    -29.266      0.000    -1.3e+04   -1.14e+04
smoker_yes  1.206e+04    476.092     25.329      0.000    1.11e+04     1.3e+04
==============================================================================
Omnibus:                      202.680   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              492.408
Skew:                           1.146   Prob(JB):                    1.19e-107
Kurtosis:                       5.716   Cond. No.                     5.34e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.58e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [28]:
## prediction on train data 
x_train_pred=est2.predict(X2_train2)

In [29]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_train = sqrt(mean_squared_error(y_train, x_train_pred))

In [30]:
## error on train data 
rms_train

6099.287162745421

In [31]:
X2_test1=x_test.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X2_test2 = sm.add_constant(X2_test1)

C:\Users\pc\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [32]:
## prediction on test data 
x_test_pred=est2.predict(X2_test2)

In [33]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_test = sqrt(mean_squared_error(y_test, x_test_pred))

In [34]:
## error on test data 
rms_test

5982.043875677294